{% extends "myadmin/base.html" %}

{% block mainbody %}                
<h3>
    商品类别信息管理
</h3>
<form id="edit-profile" action="{% url 'myadmin_type_update' type.id %}" class="form-horizontal" method="post">
{% csrf_token %}
<input type="hidden" name="pid" value="{{ pid }}"/>
<input type="hidden" name="path" value="{{ path }}"/>
<fieldset>
    <legend>编辑商品类别信息</legend>

    <div class="control-group">
        <label class="control-label" for="input01">父类别名：</label>
        <div class="controls">
            <div class="combo-select combo-open" style="margin-bottom:21px;">
                <select tabindex="-1" name="pname">
                    <option value="根类别">根类别</option>
                    {% for t in tlist %}
                    {% ifnotequal t.id type.id %}
                    <option value="{{ t.name }}" {% if t.id == type.pid %}selected{% endif %}>{{ t.name }}</option>
                    {% endifnotequal %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <label class="control-label" for="input01">类别名称：</label>
        <div class="controls">
            <input type="text" name="name" class="input-xlarge" id="input01" value="{{ type.name }}" />
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">修改</button> <button type="reset" class="btn">重置</button>
    </div>
{% endblock %}